<div class="page-titles-img title-space-lg parallax-overlay bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url(<%=asset_path 'bg7.jpg' %>);background-position:top center;'>
    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <h1 class="text-uppercase">Ils nous font confiance </h1>

            </div>
        </div>
    </div>
</div>
<div class="container pt90 pb50">
    <div class="title-heading1 mb60">
        <h3>Mécenats</h3>
    </div>
    <ul class="clients-grid mb0 column4 clearfix">

      <li><img src=<%= asset_path 'cl-1.png' %> class="img-fluid" alt="mecenes"></li>
      <li><img src=<%= asset_path 'cl-2.png' %> class="img-fluid" alt="mecenes"></li>
      <li><img src=<%= asset_path 'cl-3.png' %> class="img-fluid" alt="mecenes"></li>
      <li><img src=<%= asset_path 'cl-4.png' %> class="img-fluid" alt="mecenes"></li>
    </ul>
</div>

<div class="container pt90 pb50">
    <div class="title-heading1 mb60">
        <h3>O.N.G.</h3>
    </div>
    <ul class="clients-grid mb0 column4 clearfix">

        <li><img src=<%= asset_path 'cl-1.png' %> class="img-fluid" alt="mecenes"></li>
        <li><img src=<%= asset_path 'cl-2.png' %> class="img-fluid" alt="mecenes"></li>
        <li><img src=<%= asset_path 'cl-3.png' %> class="img-fluid" alt="mecenes"></li>
        <li><img src=<%= asset_path 'cl-4.png' %> class="img-fluid" alt="mecenes"></li>


    </ul>
</div>

<div class="container pt90 pb50">
    <div class="title-heading1 mb60">
        <h3>Institutions</h3>
    </div>
    <ul class="clients-grid mb0 column4 clearfix">

        <li><img src=<%= asset_path 'cl-1.png' %> class="img-fluid" alt="NGO"></li>
        <li><img src=<%= asset_path 'cl-2.png' %> class="img-fluid" alt="NGO"></li>
        <li><img src=<%= asset_path 'cl-3.png' %> class="img-fluid" alt="NGO"></li>
        <li><img src=<%= asset_path 'cl-4.png' %> class="img-fluid" alt="NGO"></li>


    </ul>
</div>

<div class="container pt90 pb50">
    <div class="title-heading1 mb60">
        <h3>Entreprises</h3>
    </div>
    <ul class="clients-grid mb0 column4 clearfix">

        <li><img src=<%= asset_path 'cl-1.png' %> class="img-fluid" alt="entreprise"></li>
        <li><img src=<%= asset_path 'cl-2.png' %> class="img-fluid" alt="entreprise"></li>
        <li><img src=<%= asset_path 'cl-3.png' %> class="img-fluid" alt="entreprise"></li>
        <li><img src=<%= asset_path 'cl-4.png' %> class="img-fluid" alt="entreprise"></li>


    </ul>
</div>

<!--back to top-->
<a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
