
<div class="title-space-lg parallax-overlay bg-parallax">
  <div class="container">
      <div class="row">
          <div class=" col-md-13">

          </div>
      </div>
  </div>

</div><!--page title end-->
<div class="container">

  <div class="row">


    <div class="row">

				<% if params[:plante] != nil %>
      <% @tab_ecosystem_plante.each do |ecosystem| %>
			<% if ecosystem.source == 1 %>
			      <div class="col-lg-4 col-md-6 mb-4">
				       <div class="card h-100">
								  <%= image_tag(ecosystem.plantae.Img, size: "358x330") %>
								  <div class="card-body">
				               <p class="card-text">

												 <h5>CONSEILLER</h5>
				 									<li> <a href="/search/<%= ecosystem.plantae.Plante %>"> <%= ecosystem.plantae.Plante %> </a> </li>
											</p>
				           </div>
			          </div>
			        </div>
				<% elsif ecosystem.source == 0 %>
				      <div class="col-lg-4 col-md-6 mb-4">
					       <div class="card h-100">
					          <%= image_tag("avatar.jpeg", size: "358x255") %>
					           <div class="card-body">
					               <p class="card-text">

													 <h5>DECONSEILLER</h5>
					 									<li> <a href="/search/<%= ecosystem.plantae.Plante %>"> <%= ecosystem.plantae.Plante %> </a> </li>
												</p>
					           </div>
				          </div>
				        </div>
								<% elsif ecosystem.source == 2 %>
								<div class="col-lg-4 col-md-6 mb-4">
									 <div class="card h-100">
											<%= image_tag("avatar.jpeg", size: "358x255") %>
											 <div class="card-body">
													 <p class="card-text">

														 <h5>AVIS CONTRADICTOIRE</h5>
															<li> <a href="/search/<%= ecosystem.plantae.Plante %>"> <%= ecosystem.plantae.Plante %> </a> </li>
													</p>
											 </div>
										</div>
									</div>
																	<% end %>

      <% end %>

			<% end %>
    </div>
  </div>
</div>
